/*-----------------------------------------------------------------------------------
1.Utilitaires

2.Générales

3.Typographie

4.Structure de base
  4.1.Navigation
  4.2.Flexbox

5.Styles et couleurs

6.Media Queries
  5.1.Tablette (paysage)
  5.2.Tablette (portrait)
-----------------------------------------------------------------------------------*/



/* ******************************************************************** */
/* UTILITAIRES */
/* ******************************************************************** */
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i';


/* ******************************************************************** */
/* GENERALES */
/* ******************************************************************** */
*, *:after, *:before { box-sizing: border-box; }

body {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    line-height: 1.2;
    background-color: #ededed;
    overflow-x: hidden;
}

main,
header,
footer,
.notation{
    width: 930px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 1.5em;
}

header,
footer {
    height: 70px;
}

main,
.notation{
    margin-top: 1em;
    margin-bottom: 1em;
}


nav ul,
.blocNav {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}


.blocNav-item {
    width: 30%;
    padding: 1em;
}

.blocNav-item:nth-of-type(1){background-color: #e25f5f;}
.blocNav-item:nth-of-type(2){background-color: #10acb7;}
.blocNav-item:nth-of-type(3){background-color: #888888;}
.blocNav-item:nth-of-type(4){background-color: #e25f5f;}

.blocNav-item:nth-of-type(1) .fa-plus-circle:hover{color: #aa3f3f;}
.blocNav-item:nth-of-type(2) .fa-plus-circle:hover{color: #0b727a;}
.blocNav-item:nth-of-type(3) .fa-plus-circle:hover{color: #4a4a4a;}
.blocNav-item:nth-of-type(4) .fa-plus-circle:hover{color: #aa3f3f;}



article {margin-bottom: 2em;}
/*
section {margin-bottom: 5em;}
section:last-of-type {margin-bottom: 0;}
*/

footer .fa {
    margin: 0 auto;
    width: 150px;
    font-size: 2em;
}

#open,
#close {
    z-index: 11;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 1vh;
    right: 8vw;
    font-size: 2em;
}

.fa-plus-circle {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
}

.rating {direction: rtl; width: 112px;}
.rating a {font-size: 1.5em;}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}

.ital {
    font-style: italic;
}
/* ******************************************************************** */
/* TYPOS */
/* ******************************************************************** */

.texte_clair, .texte_clair a { color: #ffffff; }
.texte_fonce, .texte_fonce a { color: #4b4b4b; }

a { text-decoration: none; }

h2, h3, p, ul {margin-bottom: 1.5em;}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0.5em;
    font-family: georgia;
    color: #4b4b4b;
}

h2 {font-style: italic;}

h3 {
    font-weight: 900; 
    font-size: 1.5em; 
    font-family: georgia; 
}

h4 {
    text-transform: uppercase;
    font-weight: 900;
}

main article li  {
    list-style: disc;
    margin-left: 3em;
}



/* ******************************************************************** */
/* DESKTOP */
/* ******************************************************************** */
@media screen and (min-width: 600px){
  .mobile_only {display: none;}
}


/* ******************************************************************** */
/* TABLETTE */
/* ******************************************************************** */

@media screen and (max-width: 930px){
    
    /* ***** général ***** */
    main,
    header,
    footer {width: 100vw;}
    .blocNav {flex-direction: column;}
    .blocNav-item {width: 100%;}
}



/* ******************************************************************** */
/* SMARTPHONE */
/* ******************************************************************** */

@media screen and (max-width: 600px) {
    
    /* ***** général ***** */
    nav {
        display: none;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ededed;
        z-index: 10;
        padding: 30px;
    }
    nav ul {flex-direction: column;}
    nav ul li {
        width: 100%;
        height: 50px;
    }
}


